:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightlier-transparent-white: hsla(0, 0%, 100%, 0.6);
}

.Form {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  box-shadow: 3px 3px 0px #fff;
}

.Form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--White);
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 500;
}

.Form input:focus {
  background-color: hsl(277, 100%, 88%);
}

.Form input::placeholder {
  color: var(--secondary-text-color);
}

.Form button {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--White);
  background-color: var(--Soft-violet);
}

.Form button:hover {
  background-color: rgb(89, 20, 133);
  box-shadow: 3px 3px 0px #fff;
}

@media screen and (max-width: 768px) {
  .Form {
    flex-direction: column;
  }

  .Form input {
    width: 100%;
  }

  .Form button {
    width: 100%;
  }
}
